<div class="btn-group-vertical btn-block">
	<div class="btn-group" role="group">
		<button routerLink="/bootstrap-screen" routerLinkActive="btn-primary" type="button"
				class="btn btn-default btn-secondary">
			Bootstrap
		</button>
	</div>
	<div class="btn-group" role="group">
		<button routerLink="/speech-screen" routerLinkActive="btn-primary" type="button"
				class="btn btn-default btn-secondary">
			Speech
		</button>
	</div>
	<div class="btn-group" role="group">
		<button routerLink="/quotes-screen" routerLinkActive="btn-primary" type="button"
				class="btn btn-default btn-secondary">
			Quotes
		</button>
	</div>
</div>